<div>

    <span class="material-icons option-icon" matRipple [matRippleUnbounded]="true" #tooltip="matTooltip"
        matTooltip="Speech To Text" routerLink="/speech-to-text">
        settings_voice
    </span>
    <span class="material-icons option-icon" matRipple [matRippleUnbounded]="true" #tooltip="matTooltip"
        matTooltip="Text To Speech" routerLink="/text-to-speech">
        graphic_eq
    </span>

    <span class="material-icons option-icon" matRipple [matRippleUnbounded]="true" #tooltip="matTooltip"
        matTooltip="Natural Language Processing" routerLink="/nlp">
        developer_board
    </span>

    <span class="material-icons option-icon" matRipple [matRippleUnbounded]="true" #tooltip="matTooltip"
        matTooltip="Model Training" routerLink="/model-training">
        model_training
    </span>
</div>