<footer>
    <section class="section-top">
        <div class="col">
            <h3>Title</h3>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</div>
            <div>Lorem ipsum dolor sit amet.</div>
            <div>Line 3</div>
        </div>
        <div class="col">
            <h3>Title</h3>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</div>
            <div>Lorem ipsum dolor sit amet.</div>
            <div>Line 3</div>
        </div>
        <div class="col">
            <h3>Title</h3>
            <div>Line 2</div>
            <div>Line 3</div>
        </div>
        <div class="col">
            <h3>Title</h3>
            <div>Line 2</div>
        </div>
    </section>
    <section class="section-bottom">
        <div>Follow</div>
        <div>Copy right</div>
    </section>
</footer>