<mat-card>
    <mat-card-title>Transcribe</mat-card-title>
    <mat-card-subtitle>Batch audio content</mat-card-subtitle>
    <mat-card-content>You can upload an audio file of duration up to 30 minutes and view result text viewed in your
        account history after some time.</mat-card-content>
    <img mat-card-lg-image>
    <mat-card-actions>
        <button mat-button>Learn more</button>
        <button mat-stroked-button color="primary">Upload</button>
    </mat-card-actions>
</mat-card>

<mat-card>
    <mat-card-title>Live stream</mat-card-title>
    <mat-card-subtitle>Live audio stream</mat-card-subtitle>
    <mat-card-content>Transcript live what you speak and you can download or copy the transcript. You can also further
        process the text with other modules.</mat-card-content>
    <img mat-card-lg-image>
    <mat-card-actions>
        <button mat-button>Learn more</button>
        <button mat-stroked-button color="primary">Proceed</button>
    </mat-card-actions>
</mat-card>

<mat-card>
    <mat-card-title>Dictate</mat-card-title>
    <mat-card-subtitle>Live dictate</mat-card-subtitle>
    <mat-card-content>Your speech is processed. Punctuation marks are added and documented to a specified downloadable
        file format. You can also edit the text.</mat-card-content>
    <img mat-card-lg-image>
    <mat-card-actions>
        <button mat-button>Learn more</button>
        <button mat-stroked-button color="primary">Dictate</button>
    </mat-card-actions>
</mat-card>

<mat-card>
    <mat-card-title>Build text</mat-card-title>
    <mat-card-subtitle>Tell only context</mat-card-subtitle>
    <mat-card-content>Specify the only context we will build excellent content-rich text for your usage. You can use for
        writing office mails, letters, documentation, etc.,</mat-card-content>
    <img mat-card-lg-image>
    <mat-card-actions>
        <button mat-button>Learn more</button>
        <button mat-stroked-button color="primary">Use it</button>
    </mat-card-actions>
</mat-card>