mat-toolbar{
    background-color: white;
}

.option-icon{
    cursor: pointer;
}
.header-menu{
    cursor: pointer;
    margin-right: 32px;
}
.example-spacer {
    flex: 1 1 auto;
}
  
.cursorPtr{
    cursor: pointer;
}

.font-fam{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 25px;
}