<!-- <app-loader *ngIf="loadingView"></app-loader> -->
<!-- <mat-drawer-container class="mat-container" *ngIf="!loading">
     <mat-drawer mode="side" class="mat-drawer-cls" opened>
        <app-side-nav></app-side-nav>
    </mat-drawer>
        <mat-drawer-content fxLayout="column" class="mat-content">
        <app-header-toolbar></app-header-toolbar> 
        <router-outlet></router-outlet>
         <app-footer class="footer" fxFlexOffset="auto"></app-footer> 
    </mat-drawer-content>
</mat-drawer-container> -->
<router-outlet></router-outlet>