<div class="chat-window">

    <div class="user-inputs">
        <div class="scrollable-div hide-scroll-bar" id="scrollId" #scrollId>
            <div *ngFor="let i of messages">
                <div class="user-message myfont-chat">
                    <div class="user-text-msg">
                        <span class="user-txt-bg-color">{{i.question}}</span>
                    </div>
                </div>
                <div class="machine-reply myfont-chat" *ngIf="!i.loading">
                    <div class="machine-text-msg">
                        <span class="machine-txt-bg-color">{{i.answer}}</span>
                    </div>
                </div>
            </div>
            <div class="msg-loading-cls" *ngIf="msgLoading">
                <app-loader [center]="false" [short]="true"></app-loader>
            </div>
        </div>
        <input type="text" class="user-text-input myfont-chat" [(ngModel)]="question" (keyup.enter)="submitQuestion()"
            placeholder="ask something..." />
        <div>
            <app-speech-recognition (textDetected)=submitRecognisecQuestion($event)></app-speech-recognition>
        </div>
    </div>
</div>